.bar{
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
}
nav{
    /* background-color: var(--text-secondary); */
    /* color: var(--bg-primary); */
    padding: 10px 50px;
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    /* color: var(--accent); */
    box-shadow: 0px 0px 20px var(--accent);
}
nav h4{
    color: var(--accent);
}
.nav-list{
    font-size: 1.3rem;
    display: flex;
    gap: 20px;
    
}
.bar .lists{
    border-radius: 25px;
    background-color: var(--bg-card);
    border: 2px solid var(--accent);
    
    color: aliceblue;
}

